:root {
    --header-text-font: arial, sans-serif;
    --header-text-size: 13px;
    --header-text-color: rgba(0,0,0,0.87);
}

.main-content-alignment {
    margin-top: 160px;
    display: grid;
    position: relative;
    grid-template-areas: 
    ". . ."
    ". google-logo ."
    ". search-bar .";
    justify-content: center;
}

.google-logo {
    grid-area: google-logo;
    margin: 0 auto;
}

.search-bar {
    margin-top: 30px;
    grid-area: search-bar;
    width: 570px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
}

.header-container {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;    
    grid-template-areas: "about store . gmail images app-icon sign-in-button";    
}

.about {
    grid-area: about;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}


.store {
    grid-area: store;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.gmail {
    grid-area: gmail;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.images {
    grid-area: images;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.app-icon {
    grid-area: app-icon;
    var(--base-header-text);
}

.sign-in-button {
    grid-area: sign-in-button;
    var(--base-header-text);
}