:root {
    --header-text-font: arial, sans-serif;
    --header-text-size: 13px;
    --header-text-color: rgba(0,0,0,0.87);
    
    --footer-text-size: 14px;
    --footer-text-alignment: center;
    --footer-text-color: #5F6368;
}
/* Center Content */
.main-content-alignment {
    display: grid;
    margin-top: 150px;
    grid-template-areas: 
    ". google-logo ."
    ". search-bar ."
    ". submission-buttons .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.google-logo {
    grid-area: google-logo;
    justify-self: center;
    align-self: center;
}

.search-bar-container {
    grid-area: search-bar;
    margin-top: 30px;
}

.search-field {
    width: 580px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.55;
    margin-top: 12px;
    margin-left: 15px;
}

.google-microphone-icon {
    position: absolute;
    width: 15px;
    height: 20px;
    margin-top: 12px;
    margin-left: 550px;
}

.submission-buttons-container {
    display: grid;
    grid-area: submission-buttons;
    grid-template-areas: "search-button rand-search-button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.search-button {
    grid-area search-button;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    width: 130px;
    height: 33px;
    border-color: transparent;
    background-color: #F2F2F2;
    border-radius: 5px;
    margin-left: 160px;
    margin-top: 10px;
}

.random-search-button {
    grid-area: rand-search-button;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    width: 140px;
    height: 33px;
    border-color: transparent;
    background-color: #F2F2F2;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

/* Header Navigation Bar Content */

.header-container {
    display: grid;
    position: fixed;
    grid-template-columns: 50px 50px .97fr 50px 50px 50px 90px;    
    grid-template-areas: "about store . gmail images app-icon sign-in-button";
    width: 100%;
    padding-left: 17px;
    top: 15px;
    left: 0px;
}

.about {
    grid-area: about;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}


.store {
    grid-area: store;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.gmail {
    grid-area: gmail;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.images {
    grid-area: images;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.app-icon-container {
    grid-area: app-icon;
    align-self: center;
    justify-self: center;
    margin-top: 5px;
}

.app-icon {
    width: 25px;
    height: 25px;
    opacity: .55;
}

.sign-in-button-container {
    grid-area: sign-in-button;
    align-self: center;
    justify-self: center;
}

.sign-in-button {
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    background-color:#4285f4;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    border-color: transparent;
}

/* Footer content */

.footer-container {
    display: grid;
    position: fixed;
    background-color: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    grid-template-areas:
    "advertising business HSW . privacy terms settings";
    grid-template-columns: 100px 90px 140px .97fr 70px 70px 70px; /* FIXME: Make the 50px align to the amount of space text takes up */
    grid-template-rows: 45px;
    left: 0px;
    right: 0px;
    bottom: -5px;
    width: 100%;
    z-index: 9999;
    padding-left: 10px;
}

.footer-advertising-link {
    grid-area: advertising;
    margin-left: 10px;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
    color: var(--footer-text-color);
}

.footer-business-link {
    grid-area: business;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
}

.footer-how-search-works-link {
    grid-area: HSW; /* How Search Works */
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
}

.footer-privacy-link {
    grid-area: privacy;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
}

.footer-terms-link {
    grid-area: terms;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
}

.footer-settings-link {
    grid-area: settings;
    text-decoration: none;
    font-family: var(--header-text-font);
    font-size: var(--footer-text-size);
    color: var(--footer-text-color);
    justify-self: var(--footer-text-alignment);
    align-self: var(--footer-text-alignment);
}