:root {
    --header-text-font: arial, sans-serif;
    --header-text-size: 13px;
    --header-text-color: rgba(0,0,0,0.87);
}

.main-content-alignment {
    display: grid;
    position: relative;
    margin-top: 160px;
    grid-template-areas: 
    ". . ."
    ". google-logo ."
    ". search-bar .";
    justify-content: center;
}

.google-logo {
    grid-area: google-logo;
    margin: 0 auto;
}

.search-bar {
    margin-top: 30px;
    grid-area: search-bar;
    width: 570px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
}

.header-container {
    display: grid;
    grid-template-columns: 60px 60px .98fr 50px 50px 50px 100px;    
    grid-template-areas: "about store . gmail images app-icon sign-in-button"; 
    height: 45px;   
}

.about {
    grid-area: about;
    justify-self: center;
    align-self: center;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}


.store {
    grid-area: store;
    align-self: center;
    justify-self: center;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.gmail {
    grid-area: gmail;
    align-self: center;
    justify-self: center;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.images {
    grid-area: images;
    align-self: center;
    justify-self: center;
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    color: var(--header-text-color);
}

.app-icon-container {
    grid-area: app-icon;
    align-self: center;
    justify-self: center;
}

.app-icon {
    width: 25px;
    height: 25px;
    opacity: .55;
}

.sign-in-button-container {
    grid-area: sign-in-button;
    align-self: center;
    justify-self: center;
}

.sign-in-button {
    font-family: var(--header-text-font);
    font-size: var(--header-text-size);
    background-color:#4285f4;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    border-color: transparent;
}